.div5
{
    background-color: pink;
    color: aliceblue;
    text-decoration: underline;
    padding: 10px 500px;
}



.pic5{
width: 100px;
height: 90px;
display: block;
}
/* styling HTML  link
a:link - a normal link - unvisited link 
a:visited - a link that the user has visited
a:hover: a link where the user mouse hovered it 
a: active- a link at thye moment of click */
a:link{
    margin-left: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

a{
    color: rgb(40, 64, 56);
}

a:hover{
    background-color:rgb(227, 182, 208);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

a:active{
    color: rgb(230, 235, 218);
    font size: 20px;
}

/* styling button */
.login{
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    background-color: pink;
    color: beige;
    border-radius: 10px;
}
.login:hover{

background-color: purple;
color: aliceblue;
cursor: pointer;

}

