.p2{ 
    background-color: blue;

}
#heading {background-color: aqua;
;
}

body{
    ;
    background-image: url(http://www.clipartbest.com/cliparts/biy/xXK/biyxXKBkT.jpg)
}
.p3{ 
    
color: brown;
background-color: aqua;

}