html{
    font-size: 20px;
}
#p1{
    font-size: 2rem;

}

#p3{
    font-size: 15vh;
}
#p4{
   font-size: 5rem; 
}
#p5{
     font-size: 5vw;
}
#p6{
    font-size: 5%;
}

.flex-container{
display: flex;

}

.col-3{
    flex-basis: 50%;
}
.col-3{
width: 400%;
height: 380px;
}
@media screen (max-width: 700px);
.col-3{
flex-basis: 100px;
}
    
